/*Set map height*/
#map { 
	height: 500px; 
	width: 80%;
	display: inline-block;
}

#panel {
	width: 15%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
    /*width: 25px;
    height: 25px;*/
}

#reverse {
    float: left;
    /*width: 5px;
    height: 5px;*/
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}