

#main {
    background-color: #000066;
    color: #fff;
    padding: 5px;
}

#map { 
	height: 550px; 
	width: 70%;
  padding-left: 10px;
	display: inline-block;
    margin-left: 20px;
}

#panel {
    width: 330px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 14px;
    background-color: #fff;
    color: #000;
    height: 550px;
    border-radius: 10px;
    overflow-y: scroll;
    padding: 10px;
    
}

#imagecontainer {
  position: relative;
  height: 300px;
  width: 310px;
}

#image { 

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h2 { 
   position: absolute; 
  
   height: 320px;
   color: white; 
   font: bold 24px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgba(0, 0, 0, 0.5);
   text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
   top: -36px;
   width: 310px;
}

.playoff{
  padding-top: 10px;
}

#title {
    
    width: 70%;
    display: inline-block;
    text-align: center;
    font: bold 50px Sans-Serif;

}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.legend-control-container {
    width: 125px;
    height: 190px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 12px;
    text-align: center;
    border: solid gray 1px;
    bottom: 0;
    left: 0;
    color: #000;
}


.range-slider {
    width: 50%;
}

#forward {
    float: right;
/*    width: 25px;
    height: 25px;*/
}

#reverse {
    float: left;
 /*   width: 25px;
    height: 25px;*/
}


.leaflet-popup-content p {
    margin: 0.2em 0;
    color: #000;
    text-align: center;
}

.dropbtn {
    background-color: #000066;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 125px;
    
}

.dropdown {

    position: fixed;
    top: 80px;
    left: 75px;
    display: inline-block;

}

.dropdown-content {
  
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 155px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #000089;
}