/*Set map height*/
#map { 
	height: 500px; 
	width: 80%;
	display: inline-block;
}

#panel {
	width: 15%;
    padding: 20px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}

.sequence-control-container {
    width: 350px;
    height: 30px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    line-height: 45px;
    text-align: center;
    border: solid gray 1px;
}

.range-slider {
    width: 50%;
}

#forward {
    float: right;
    /*width: 25px;
    height: 25px;*/
}

#reverse {
    float: left;
    /*width: 5px;
    height: 5px;*/
}


.leaflet-popup-content p {
    margin: 0.2em 0;
}

.menu-ui {
  background:#fff;
  position:absolute;
  /*display: table-cell;
  vertical-align: middle;*/
  top:10px;
  left:100px;
  /*vertical-align:center;*/
  z-index:1;
  border-radius:3px;
  /*width:1000px;*/
  border:1px solid rgba(0,0,0,0.4);
  /*height:100px; */
  }
  .menu-ui a {
    font-size:13px;
    color:#404040;
    display:inline-block;
    margin:0;padding:0;
    padding:10px;
    text-decoration:none;
    /*border-bottom:1px solid rgba(0,0,0,0.25);*/
    text-align:center;
    border-right:1px solid rgba(0,0,0,0.25);
    /*bottom:100px;*/
    }
    .menu-ui a:first-child {
      border-radius:3px 3px 0 0;
      }
    .menu-ui a:last-child {
      border:none;
      border-radius:0 0 3px 3px;
      }
    .menu-ui a:hover {
      background:#f8f8f8;
      color:#404040;
      }
    .menu-ui a.active,
    .menu-ui a.active:hover {
      background:#3887BE;
      color:#FFF;
      }